html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Chivo', sans-serif;
  height: 100%;
  min-height: 100vh;
  font-size: rem(15px);
  line-height: calc(25/15);
  background-color: $darkestGray;
  font-weight: 300;
  text-align: center;
  color: $lightestGray;
  position: relative;
  background-repeat: no-repeat;

  &:after {
    @include breakpoint-down(small) {
      content: ' ';
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      z-index: -1;
      opacity: 0.1;
      background-image: url("/assets/mobile/image-host.jpg");
      background-repeat: no-repeat;
    }
  }

  @include breakpoint-up(medium) {
    text-align: left;
    background-image: url("/assets/tablet/image-host.jpg"), url("/assets/desktop/bg-pattern-dots.svg");
    background-position: top right, bottom left;
  }
}

.podcast-icons {

  & path,
  ellipse {
    fill: #5A668A;
  }
}

.email {
  border-radius: rem(28px);
  padding: rem(9px) 0 rem(9px) rem(32px);
  font-size: rem(14px);
  font-weight: 700;
  line-height: 2;
  background-color: $darkGray;
  color: white;
  border: none;

  @include breakpoint-up(medium) {
    padding: rem(14px) 0 rem(14px) rem(32px);
  }
}

.email-error {
  color: $red;
  font-size: rem(12px);
  line-height: calc(14/12);
  font-weight: 700;

  visibility: hidden;
}

.text-button {
  cursor: pointer;
  border: none;
  background-color: $green;
  color: $darkestGray;
  border-radius: rem(28px);
  padding: rem(9px) 0;

  @include breakpoint-up(medium) {
    position: absolute;
    padding: rem(9px) rem(27px);
    max-width: rem(162px);
    top: -11px;
    right: 5px;
  }
}

footer {
  margin-top: 1.5rem;
  font-size: rem(13px);
  text-align: center;

  &>p>a {
    color: $green;
  }
}