html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  background-color: $darkestGray;
  background-repeat: no-repeat;
  color: $lightestGray;
  font-family: 'Chivo', sans-serif;
  font-size: rem(15px);
  font-weight: 300;
  height: 100%;
  line-height: calc(25/15);
  min-height: 100vh;
  position: relative;
  text-align: center;

  &:after {
    @include breakpoint-down(small) {
      background-image: url("/assets/mobile/image-host.jpg");
      background-position: top center;
      background-repeat: no-repeat;
      background-size: contain;
      content: ' ';
      height: 100%;
      left: 0;
      opacity: 0.1;
      position: absolute;
      top: 0;
      width: 100%;
      z-index: -1;
    }
  }

  @include breakpoint-up(medium) {
    background-image: url("/assets/tablet/image-host.jpg"), url("/assets/desktop/bg-pattern-dots.svg");
    background-position: top right, bottom -0.05% left 5%;
    text-align: left;
  }

  @include breakpoint-up(large) {
    background-image: url("/assets/desktop/bg-pattern-dots.svg"), url("/assets/desktop/image-host.jpg"), ;
    background-position: bottom 78px right, center right;
  }
}

.email {
  background-color: $darkGray;
  border: none;
  border-radius: rem(28px);
  color: white;
  font-size: rem(14px);
  line-height: 2;
  padding: rem(9px) 0 rem(9px) rem(32px);

  @include breakpoint-up(medium) {
    padding: rem(14px) 0 rem(14px) rem(32px);
  }
}

.email-error {
  color: $red;
  font-size: rem(12px);
  font-weight: 400;
  line-height: calc(14/12);

  visibility: hidden;
}

.text-button {
  background-color: $green;
  border: none;
  border-radius: rem(28px);
  color: $darkestGray;
  cursor: pointer;
  padding: rem(9px) 0;

  @include breakpoint-up(medium) {
    max-width: rem(162px);
    padding: rem(9px) rem(27px);
  }

  &:hover {
    background-color: $lightGreen;
    -webkit-transition: background-color 300ms ease-in-out;
    transition: background-color 300ms ease-in-out;
  }
}

footer {
  font-size: rem(13px);
  text-align: center;
  width: 100%;
  z-index: -1;

  &>p>a {
    color: $green;
  }
}