html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Chivo', sans-serif;
  height: 100%;
  min-height: 100vh;
  background-color: $darkestGray;
  font-size: rem(15px);
  line-height: calc(25/15);
  font-weight: 300;
  text-align: center;
  color: $lightestGray;

  @include breakpoint-up(medium) {
    text-align: left;
  }
}

.email-error {
  color: $red;
  font-size: rem(12px);
  line-height: calc(14/12);
  font-weight: 700;

  visibility: hidden;
}

footer {
  margin-top: 1.5rem;
  font-size: rem(13px);

  &>p>a {
    color: $green;
  }
}