.l- {
  &site-container {
    margin: rem(62px) 6.4% 0 6.4%;
  }

  &text {
    margin-top: rem(57px);
  }

  &description {
    margin-top: rem(16px);
  }

  &logo {
    display: flex;
    justify-content: center;
  }

  &bottom {
    margin-top: rem(33px);
  }

  &products {
    display: flex;
    justify-content: space-around;
    align-items: center;

    & path {
      // hmm why is this not working
      fill: red;
    }
  }

  &conversion {
    margin-top: rem(48px);
    display: flex;
    flex-direction: column;
  }

  &button {
    margin-top: rem(16px);
  }
}