.l- {
  &site-container {
    padding: 0 6.4%;

    @include breakpoint-up(medium) {
      padding: 0 5.078%;
    }
  }

  &text {
    margin-top: rem(57px);
  }

  &description {
    margin-top: rem(16px);
  }

  &logo {
    display: flex;
    justify-content: center;

    @include breakpoint-up(medium) {
      padding-top: rem(50px);
      justify-content: flex-start;
    }
  }

  &bottom {
    margin-top: rem(33px);
  }

  &products {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  &conversion {
    margin-top: rem(48px);
    display: flex;
    flex-direction: column;
  }

  &button {
    margin-top: rem(16px);
  }
}