.l- {
  &site-container {
    padding: 0 6.4%;

    @include breakpoint-up(medium) {
      padding: 0 5.079%;
    }

    @include breakpoint-up(large) {
      padding: 0 11.459%;
    }
  }

  &text {
    margin-top: rem(57px);

    @include breakpoint-up(medium) {
      margin-top: rem(152px);
      padding-top: rem(93px);
    }

    @include breakpoint-up(large) {
      margin-top: rem(103px);
      padding-top: rem(88px);
    }
  }

  &description {
    margin-top: rem(16px);
    display: inline-block;

    @include breakpoint-up(medium) {
      margin-top: rem(31px);
      max-width: rem(445px);
    }

    @include breakpoint-up(large) {
      margin-top: rem(24px);
    }
  }

  &logo {
    display: flex;
    justify-content: center;
    padding-top: rem(62px);

    @include breakpoint-up(medium) {
      padding-top: rem(50px);
      justify-content: flex-start;
    }

    @include breakpoint-up(large) {
      padding-top: rem(102px);
    }
  }

  &bottom {
    margin-top: rem(33px);
    display: flex;
    flex-direction: column;

    @include breakpoint-up(medium) {
      margin-top: rem(40px);
      flex-direction: column-reverse;
    }
  }

  &podcast {
    display: flex;
    justify-content: space-around;
    align-items: center;

    @include breakpoint-up(medium) {
      margin-top: rem(45px);
      justify-content: flex-start;
    }
  }

  &podcast-containers {
    display: flex;
  }

  &conversion {
    margin-top: rem(48px);
    display: flex;
    flex-direction: column;
    position: relative;

    @include breakpoint-up(medium) {
      margin-top: 0;
      max-width: rem(427px);
    }
  }

  &button {
    margin-top: rem(16px);
  }

  &footer {
    position: fixed;
    bottom: 1rem;
  }
}