.podcast {
  &-containers {
    &-1 {
      width: 17.13%;

      @include breakpoint-up(medium) {
        width: rem(96px);
      }
    }

    &-2 {
      width: 13.76%;

      @include breakpoint-up(medium) {
        margin-left: rem(40px);
        width: rem(78px);
      }
    }

    &-3 {
      width: 22.32%;

      @include breakpoint-up(medium) {
        margin-left: rem(41px);
        width: rem(125px);
      }
    }

    &-4 {
      width: 23.55%;

      @include breakpoint-up(medium) {
        margin-left: rem(27px);
        width: rem(129px);
      }
    }
  }

  &-icons {

    & path,
    ellipse {
      fill: #5A668A;
    }
  }
}